<style>
  .custom-modal {
    background: rgba(0,0,0,0.5);
}

.custom-modal .modal-dialog {
    z-index: 1055;
    position: relative;
}

body.modal-open {
    overflow: initial !important;
    padding-right: 0 !important;
}

.modal-backdrop {
    display: none !important;
}
</style>

<h1>Users Management</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">Update at</th>
      <th scope="col">Status</th>
      <th scope="col">&nbsp;</th>
      
    </tr>
  </thead>
  <tbody>
    {{#if list}}
      {{#each this.list}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{summary}}</td>
         <td>{{formatLongDate update_at}}</td>
          <td>{{status}}</td>

        
      </tr>
      {{/each}}
    {{else}}
      <tr>

        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>
<div class="modal fade custom-modal" id="modal_text" data-bs-backdrop="static" tabindex="-1" aria-labelledby="text-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="text-modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="codes-container">
                <!-- Codes will be inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
