<div class="container-fluid mt-2 ">
  <div class="d-flex justify-content-between mb-2">
    <h2>Tags Management</h2>
  <button 
    class="btn btn-success"
    onclick="window.location.href='/admin/tags/add'"
  ><i class="bi bi-plus"></i>
    Add
  </button>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.list.length}}
      {{#each this.list}}
      <tr>
        <th scope="row">{{id}}</th>
        <td>{{name}}</td>
       
        <td>
          <a class="btn btn-success" href="/admin/tags/edit/{{id}}" aria-label="Edit">
            <i class='bx bxs-edit'></i>
          </a>
        </td>
        <!-- Delete Category Button -->
        <td>
          
           <form id="delete-form-{{id}}" action="/admin/tags/delete/{{id}}" method="post" style="display: inline;">
            <button class="btn btn-danger delete-button" type="button" aria-label="Delete" data-id="{{id}}">
              <i class='bx bxs-trash-alt'></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>
</div>
<script>
  document.querySelectorAll('.delete-button').forEach(button => {
    button.addEventListener('click', function() {
      const categoryId = this.getAttribute('data-id');
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById(`delete-form-${categoryId}`).submit();
        }
      });
    });
  });
</script>