<h1>Users Management</h1>
<a class="btn btn-primary" href="/admin/users/add">Add</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#if list}}
      {{#each list}}
      <tr>
        <th scope="row">{{this.UserID}}</th>
        <td>{{this.Firstname}}</td>
        <td>{{this.LastName}}</td>
        <td>{{this.Email}}</td>
        <td>
          <a class="btn btn-success" href="/admin/users/edit/{{this.UserID}}" aria-label="Edit">
            <i class='bx bxs-edit'></i>
          </a>
        </td>
        <td>
          <form action="/admin/users/delete/{{this.UserID}}" method="post" style="display: inline;">
            <button class="btn btn-danger" type="submit" aria-label="Delete">
              <i class='bx bxs-trash-alt'></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="6" class="text-center">No data available</td>
      </tr>
    {{/if}}
  </tbody>
</table>