
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="cystack-verification" content="5d65920be12193433b1632152186997f"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">




<div class="main-container mt-5">
  <div class="row">
    
    <div class="col-lg-8">
        <a href="{{#if this.topArticle.is_premium}}/read/premium{{else}}/read{{/if}}?id={{this.topArticle.id}}" style="text-decoration-thickness: 2px;color: inherit;">      
       {{#if this.topArticle.is_premium}}
                    <span class="badge bg-warning text-dark" style="font-size: 12px;">
                      <i class="fas fa-crown"></i> Premium
                    </span>
       {{/if}}
      <h1>{{this.topArticle.title}}</h1>
     
      <img class="card-img-top" style="max-width:100%; max-height:60%"  src={{extractFirstImage this.topArticle.content}} alt="Card image cap"/>
      <div class="article-info">
        <p class="read-time">
            <i class="fas fa-clock"></i> 
        </p>
        <p class="updated-time">Updated {{formatDate updated_at}}</p>
        <p class="updated-time" style="color: red; font-size:15px" >{{this.topArticle.category_name}}</p>
      </div>
      </a>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fas fa-envelope"></i></a>
        <a href="#" class="social-icon"><i class="fas fa-link"></i></a>
      </div>
      {{#if this.empty}}
       <div class="card-body">
        Không có dữ liệu.
      </div>
      {{else}}
      <div class="row">
            {{#each this.articles}}
            <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="{{#if is_premium}}/read/premium{{else}}/read{{/if}}?id={{id}}" style="text-decoration-thickness: 1px;color: inherit;">      
              <div class="card mb-4">
                <img class="card-img-top custom-img" src={{extractFirstImage content}} alt="Card image cap"/>
                <div class="card-body">
                  <h5 class="card-title">
                    {{title}}
                    {{#if is_premium}}
                    <span class="badge bg-warning text-dark" style="font-size: 12px;">
                      <i class="fas fa-crown"></i> Premium
                    </span>
                    {{/if}}
                  </h5>
                  <p class="card-text long-description"  >{{summary}}</p>
                  <p class="updated-time">Updated {{formatDate updated_at}}</p>
                  <p class="updated-time" style="color: red; font-size:15px">{{category_name}}</p>
                </div>
              </div>
              </a>
            </div>
    {{/each}}
      </div>
      {{/if}}
    </div>

    
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          | Top 10 most viewed articles
        </div>
        <ul class="list-group list-group-flush">
          {{#if empty}}
          <li class="list-group-item">Không có dữ liệu.</li>
          {{else}}
          {{#each this.mostViewedArticles}}
        <a href="{{#if is_premium}}/read/premium{{else}}/read{{/if}}?id={{id}}" style="text-decoration-thickness: 1px;color: inherit;">      
          <li class="list-group-item ">
            <div class="d-flex align-items-center" >
              <img src={{extractFirstImage content}} class="mr-3" alt="Story 1">
              <p href="#" class="short-description">{{title}}</p>
            </div>
            <p class="updated-time">  Updated {{formatDate updated_at}}</p>
            <div class="d-flex align-items-center justify-content-between">
               <p class="updated-time" style="color: red; font-size:15px" >{{category_name}}</p>
              {{#if is_premium}}
                    <span class="badge bg-warning text-dark" style="font-size: 12px;">
                      <i class="fas fa-crown"></i> Premium
                    </span>
              {{/if}}
            </div>
          </li>
          </a>
          {{/each}}
          {{/if}}
         
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
        <div class="card-header">
          | Top 10 latest Articles
        </div>
          {{#if this.empty}}
    <div class="card-body">
      Không có dữ liệu.
    </div>
  {{else}}
    <div id="Lastest" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {{#each (chunk this.latestArticles 3) as |articleGroup index|}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            <div class="row">
              {{#each articleGroup}}
                <div class="col-md-4 col-sm-12">
        <a href="{{#if is_premium}}/read/premium{{else}}/read{{/if}}?id={{id}}" style="text-decoration-thickness: 1px;color: inherit;">      
                  <div class="card mb-4">
                    <img class="card-img-top custom-img" src="{{extractFirstImage content}}" alt="Card image cap"/>
                    <div class="card-body">
                      <h5 class="card-title">{{title}}</h5>
                      <p class="card-text">{{summary}}</p>
                        <p class="updated-time">Updated {{formatDate updated_at}}</p>
                        <p class="updated-time" style="color: red; font-size:15px" >{{category_name}}</p>
                        {{#if is_premium}}
                    <span class="badge bg-warning text-dark" style="font-size: 12px;">
                      <i class="fas fa-crown"></i> Premium
                    </span>
              {{/if}}
                    </div>
                  </div>
                  </a>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
      <a class="carousel-control-prev" href="#Lastest" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#Lastest" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  {{/if}}
</div>
<div class="card">
        <div class="card-header">
          | Top categories
        </div>
          {{#if this.empty}}
    <div class="card-body">
      Không có dữ liệu.
    </div>
  {{else}}
        <div class="row">
      {{#each this.topCategoriesByViews as |category|}}
        <div class="col-md-4">
          
          <div class="card mb-4">
            <div class="card-header">
              <h4 class="card-title " style="color:red" >| {{category.category}}</h4>
            </div>
            <div class="card-body">
              {{#if category.article}}
                <a href="{{#if category.article.is_premium}}/read/premium{{else}}/read{{/if}}?id={{category.article.id}}" style="text-decoration-thickness: 1px;color: inherit;">      

               <div>
                 <img class="card-img-top custom-img" src="{{extractFirstImage category.article.content}}" alt="Card image cap"/>
                <h6 class="card-title">{{category.article.title}}</h6>
                <p class="card-text long-description">{{category.article.summary}}</p>
                  <p class="updated-time">Updated {{formatDate updated_at}}</p>
                  {{#if is_premium}}
                    <span class="badge bg-warning text-dark" style="font-size: 12px;">
                      <i class="fas fa-crown"></i> Premium
                    </span>
              {{/if}}
                <a href="/article/byCat?id={{category.article.category_id}}" class="btn btn-outline-primary">Read More</a>
               </div>
               </a>
              {{else}}
                <p>No articles available</p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
   {{/if}}
      </div>
</div>


<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-4qpa6bKcW/U8p5+GFiYj6p5zocpcfB8rDZRm4+GU2hrfu5DzN07mK2SHQr90qJpD2y60PZbTJx8uT3KzXqTjlC+Zr1rNPtAXsp/lA7OnxRfO1Q3mKZarVqu1K4xkQ/2On"
  crossorigin="anonymous"></script>
 <script src="<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>"></script>
<script src="js/index.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous" ></script>
